@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500&display=swap");
/* 
font-family: 'Montserrat Alternates', sans-serif; */
.h5 {
  display: flex;
  height: 5rem; }

.bg_home {
  /*     background-image:  linear-gradient(rgba(255, 255, 255, 1), rgba(44, 36, 36, 0.5)), url('../media/bg_home.jpg');
 */
  background-color: #edeeed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%; }

.bg_servicios {
  /*     background-image:  linear-gradient(rgba(255, 255, 255, 1), rgba(44, 36, 36, 0.5)), url('../media/bg_servicios.jpg');
 */
  background-color: #edeeed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%; }

.bg_portfolio {
  /*     background-image:  linear-gradient(rgba(255, 255, 255, 1), rgba(44, 36, 36, 0.5)), url('../media/bg_portfolio.jpg');
 */
  background-color: #edeeed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%; }

.bg_nosotros {
  /*     background-image:  linear-gradient(rgba(255, 255, 255, 1), rgba(44, 36, 36, 0.5)), url('../media/bg_nosotros.jpg');
 */
  background-color: #edeeed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%; }

.bg_contacto {
  /*     background-image:  linear-gradient(rgba(255, 255, 255, 1), rgba(44, 36, 36, 0.5)), url('../media/bg_contacto.jpg');
 */
  background-color: #edeeed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%; }

.bg_error404 {
  /*     background-image:  linear-gradient(rgba(255, 255, 255, 1), rgba(44, 36, 36, 0.5)), url('../media/bg_error404.jpg');
 */
  background-color: #edeeed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%; }

.home, .error404 {
  height: 100vh;
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: center; }

.bg__title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 4rem;
  align-self: center; }

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  font-size: 2rem; }

@media screen and (max-width: 768px) {
  .p-nos {
    width: 70%; } }

.servicios {
  height: 100vh;
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: center; }

.bg__title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 4rem;
  align-self: center; }

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  font-size: 2rem; }

@media screen and (max-width: 768px) {
  .p-nos {
    width: 70%; } }

.portfolio {
  height: 100vh;
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: center; }

.bg__title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 4rem;
  align-self: center; }

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  font-size: 2rem; }

@media screen and (max-width: 768px) {
  .p-nos {
    width: 70%; } }

.nosotros {
  height: 100vh;
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: center; }

.bg__title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 4rem;
  align-self: center; }

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  font-size: 2rem; }

@media screen and (max-width: 768px) {
  .p-nos {
    width: 70%; } }

.contacto {
  height: 100vh;
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: center; }

.bg__title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 4rem;
  align-self: center; }

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  font-size: 2rem; }

@media screen and (max-width: 768px) {
  .p-nos {
    width: 70%; } }

.error404 {
  height: 100vh;
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: center; }

.bg__title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 4rem;
  align-self: center; }

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
  font-size: 2rem; }

@media screen and (max-width: 768px) {
  .p-nos {
    width: 70%; } }

.drops {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  top: 80%; }
  @media screen and (max-width: 476px) {
    .drops {
      display: none; } }

.drop {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 15vw;
  height: 30vh;
  background: transparent;
  border-radius: 59% 41% 33% 67% / 47% 48% 52% 53%;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.1), 15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(255, 255, 255, 0.9);
  transition: 2s ease-in-out; }
  @media screen and (max-width: 768px) {
    .drop {
      width: 15vw;
      height: 20vh; } }

.drop::before {
  content: '';
  position: absolute;
  top: 35px;
  left: 35px;
  background: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 41% 59% 53% 47% / 50% 67% 33% 50%; }

.drop::after {
  content: '';
  position: absolute;
  top: 30px;
  left: 65px;
  background: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 56% 44% 48% 52% / 65% 56% 44% 35%; }

.drop:nth-child(2) {
  transform: scale(0.4);
  border-radius: 64% 36% 39% 61% / 37% 75% 25% 63%;
  transform-origin: top;
  animation: drop 10s ease-in-out infinite; }

.drop:nth-child(3) {
  transform: scale(0.6) translate(-200px, 130px);
  border-radius: 53% 47% 53% 47% / 50% 30% 70% 50%; }

.drop:nth-child(4) {
  transform: scale(0.8) translate(0px, -50px);
  border-radius: 53% 47% 53% 47% / 50% 30% 70% 50%; }

.drop:nth-child(5) {
  transform: scale(1.2) translate(-20px, -200px);
  border-radius: 53% 47% 53% 47% / 50% 30% 70% 50%; }

html {
  font-size: 62.5%;
  width: 100%; }

.home, .error404 {
  justify-content: center;
  align-items: center; }
  .home h1, .error404 h1 {
    font-family: 'besley', serif;
    font-weight: 700;
    margin-top: 0%;
    font-size: 13rem; }
    @media screen and (max-width: 768px) {
      .home h1, .error404 h1 {
        font-size: 8rem; } }
  .home h3, .error404 h3 {
    font-weight: 300;
    font-size: 2.5rem;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 6rem; }
    @media screen and (max-width: 768px) {
      .home h3, .error404 h3 {
        font-size: 2rem;
        margin-top: 4rem; } }
    @media screen and (max-width: 476px) {
      .home h3, .error404 h3 {
        font-size: 2rem;
        width: 80%;
        margin-top: 8rem; } }

.error404 h1 {
  font-size: 8rem; }
  @media screen and (max-width: 768px) {
    .error404 h1 {
      font-size: 3rem; } }

.error404 h3 {
  font-size: 2rem; }

.efect_title {
  display: flex;
  justify-content: center;
  align-items: center; }
  .efect_title h1 {
    position: absolute; }
  .efect_title h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1.5px #6b6b6b; }
  .efect_title h1:nth-child(2) {
    animation: animate2 4s ease-in-out infinite; }
  .efect_title h1:nth-child(3) {
    color: transparent;
    -webkit-text-stroke: 1.5px #6b6b6b; }
    @media screen and (max-width: 768px) {
      .efect_title h1:nth-child(3) {
        -webkit-text-stroke: 1px #6b6b6b; } }
  .efect_title h1:nth-child(4) {
    animation: animate 4s ease-in-out infinite; }
  @media screen and (max-width: 476px) {
    .efect_title .desktop {
      display: none; } }
  .efect_title .cel {
    display: none; }
    @media screen and (max-width: 476px) {
      .efect_title .cel {
        display: flex;
        font-size: 20rem; } }

@keyframes animate {
  0%, 100% {
    clip-path: polygon(0% 56%, 4% 53%, 9% 53%, 12% 58%, 16% 63%, 20% 61%, 24% 55%, 27% 50%, 31% 47%, 35% 48%, 37% 53%, 40% 61%, 43% 67%, 48% 65%, 52% 59%, 55% 53%, 59% 48%, 62% 46%, 65% 49%, 68% 54%, 71% 59%, 73% 64%, 76% 68%, 81% 69%, 85% 67%, 88% 61%, 92% 55%, 96% 49%, 100% 41%, 100% 100%, 0% 100%);
    color: #6b6b6b; }
  50% {
    clip-path: polygon(0 41%, 3% 51%, 6% 62%, 9% 69%, 14% 69%, 18% 64%, 22% 57%, 26% 49%, 30% 43%, 36% 42%, 39% 44%, 43% 48%, 46% 53%, 49% 56%, 52% 61%, 56% 65%, 60% 69%, 64% 65%, 68% 61%, 70% 57%, 73% 52%, 75% 48%, 79% 43%, 83% 39%, 86% 36%, 90% 34%, 93% 34%, 96% 36%, 100% 41%, 100% 100%, 0% 100%);
    color: #6b6b6b; } }

@keyframes animate2 {
  0%, 100% {
    clip-path: polygon(0% 56%, 5% 52%, 10% 48%, 16% 45%, 22% 43%, 30% 43%, 35% 45%, 39% 49%, 44% 52%, 50% 55%, 57% 53%, 62% 48%, 68% 44%, 74% 41%, 82% 40%, 88% 41%, 93% 44%, 97% 48%, 100% 51%, 100% 100%, 0% 100%);
    color: #6b6b6b; }
  50% {
    clip-path: polygon(0 39%, 4% 45%, 7% 50%, 12% 54%, 18% 56%, 26% 56%, 34% 52%, 40% 48%, 46% 44%, 52% 42%, 58% 38%, 65% 35%, 72% 35%, 78% 37%, 83% 41%, 88% 46%, 92% 50%, 97% 54%, 100% 57%, 100% 100%, 0% 100%);
    color: #6b6b6b; } }

.serv__media {
  display: flex;
  flex-flow: column wrap;
  background: transparent;
  justify-content: center;
  height: 0%;
  font-family: 'Quicksand', sans-serif; }
  .serv__media .serv__media__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 200; }
  .serv__media .serv__media__text {
    color: transparent;
    padding: 1rem;
    margin: 1rem;
    transition: all 1s ease-in-out;
    animation-name: color-texto;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 0s; }

/* .serv__media:hover{
    background-image: linear-gradient(
        to bottom,
        transparent,
        transparent,
        transparent,
        #ffffcdec,
        #ffffcd,
        #ffff9b,
        #ffff62
    );

    .serv__media__btn{
        font-weight: 500;
    }
        .serv__media__text{
            display: flex;
            color: black;
            background-color: rgba(255, 255, 255, 0.4);
        }   
}

@keyframes color-texto {
    0% {
        color: transparent;
    }
    20% {
        color: #c6c6c6;
    }
    40% {
        color: #919191;
    }
    60% {
        color: #5e5e5e;
    }
    80% {
        color: #303030;
    }
    100% {
        color: #000000;
    }
} */
.media__portfolio {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  background: rgba(255, 255, 255, 0.7);
  background-size: 10%;
  padding: 0rem;
  max-width: 300px; }
  @media screen and (max-width: 476px) {
    .media__portfolio {
      margin: none; } }
  .media__portfolio .media__portfolio__img {
    border-radius: 10%;
    width: 100%;
    height: auto;
    height: auto;
    text-align: center;
    transform-origin: top;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out; }
    .media__portfolio .media__portfolio__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .media__portfolio .media__portfolio__text {
    display: flex;
    flex-flow: column;
    opacity: 0;
    color: black;
    position: absolute;
    text-align: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out; }
    .media__portfolio .media__portfolio__text h3 {
      font-size: 2.5rem; }
    .media__portfolio .media__portfolio__text h5 {
      font-weight: 300;
      font-size: 2rem;
      width: 80%; }

.media__portfolio:hover {
  cursor: pointer; }
  .media__portfolio:hover .media__portfolio__text {
    opacity: 1;
    transform: rotateX(0deg); }
  .media__portfolio:hover .media__portfolio__img {
    opacity: 0;
    transform: rotateX(-90deg); }

form {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Quicksand', sans-serif; }
  @media screen and (max-width: 768px) {
    form {
      width: 80%; } }
  form input[type=submit], form input[type=reset] {
    height: 4rem;
    font-size: 1.5rem;
    width: 100%;
    background-color: dimgray;
    color: white;
    border: none;
    transition-duration: 0.2s; }
  form input[type=submit]:hover {
    background-color: green; }
  form input[type=reset]:hover {
    background-color: blue; }
  form input[type=text] {
    font-weight: 500;
    font-size: 1.5rem;
    color: black;
    padding-top: 4px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #a3a1a1; }
  form .form-control {
    padding: 0%; }
  form .form-control:focus {
    color: black;
    font-weight: 500;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 0 0.25rem #8b8b8b; }
  form .form-check {
    display: flex;
    align-items: center; }
    form .form-check .form-check-input {
      width: 1.5rem;
      height: 1.5rem;
      align-self: center; }
    form .form-check .form-check-label {
      font-family: 'Quicksand', sans-serif;
      text-align: start;
      font-size: 1.5rem;
      align-self: center;
      font-weight: 500;
      color: #636363; }
  form .form-check-input:focus {
    box-shadow: 0 0 0 0.25rem white; }
  form .form-check-input:checked {
    background-color: black;
    border-color: black; }

.div_map {
  display: flex;
  height: 100%;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .div_map {
      display: none; } }

.nav .nav__li {
  display: flex;
  height: 10vh;
  align-items: center;
  width: auto;
  text-align: center;
  margin: 0rem 2rem; }
  .nav .nav__li .nav__li__a {
    font-family: 'besley', serif;
    font-size: 2rem;
    align-self: center; }

.navbar-brand {
  width: 8vw; }
