@import "./media-queries";

$height: 100vh;
$widht: 100%;

body{
  background-color: black;
}

@each $fondo in home, servicios, portfolio, nosotros, contacto, error404{
 .#{$fondo} {
      background-color: wheat;
      background-repeat: repeat;
      background-position: center center;
      background-size: cover;
      min-height: 100vh;
      width: 100%;
      display: flex;
      width: $widht;
      justify-content: center;
     
     
        }
  .#{$fondo}:nth-child(1){
    background-color: yellow;
      animation: animate 4s ease-in-out infinite;
          } 
    

    
  
      .bg__title{
          font-family: 'Quicksand', sans-serif;
          font-weight: 500;
          font-size: 4rem;
          align-self: center;
        }
      
        p{
          font-family: 'Quicksand', sans-serif;
          font-weight: 200;
          font-size: 2rem;
        }
        .p-nos{
          @include tablet{
            width: 70%;
          }
        }

  }

  @keyframes animate {
    0%,100%{
        clip-path: polygon(0% 61%, 14% 50%, 35% 58%, 55% 59%, 77% 52%, 89% 57%, 100% 64%, 100% 100%, 0% 100%);
        color: #2b0404;     
    }
    50%{
        clip-path: polygon(0% 61%, 18% 66%, 35% 56%, 51% 49%, 75% 64%, 87% 68%, 100% 59%, 100% 100%, 0% 100%);
        color: #2b0404; 

    }
} 