@import "./media-queries";


    .media__contenido {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        background:rgba(255, 255, 255, 0.7);
        padding: 0rem;
        max-width: 200px;
        height: auto;
        @include celular{
            margin: none;
        }
        
            .media__contenido__img{
                border-radius: 10%;
                width: 100%;
                height: auto;
                text-align: center;
                transform-origin: top;
                transform-style: preserve-3d;
                transition: all 0.5s ease-in-out;
                
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
    
            .media__contenido__text{
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-self: center;
                opacity: 0;
                color: black;
                position: absolute;
                text-align: center;
                font-family: 'Quicksand', sans-serif;
                transform: rotateX(-90deg);
                transform-origin: bottom;
                transform-style: preserve-3d;
                transition: all 0.5s ease-in-out;
                    
                    h3{
                        font-size: 2.5rem;
                        padding: 0.5rem;
                        @include tablet{
                            font-size: 2rem;
                        }
                    }
                    h5{
                        font-weight: 300;
                        font-size: 2rem;
                        width: 100%;
                        padding: 0rem 1rem 0rem 1rem;
                        @include tablet{
                            font-size: 1.5rem;
                        }
                    }
            }    
    
}       
        .nos__contenido{
            @extend .media__contenido;
            border-radius: 10%;
            .nos__contenido__img{
                @extend .media__contenido__img;
                transform-origin: left;
                img{
                    object-fit: cover;
                    border-radius: 10%;
                }
                
            }
            .nos__contenido__text{
                @extend .media__contenido__text;
                transform: rotateY(-90deg);
                transform-origin: right;
            }
        }
    



        .media__contenido:hover {
        cursor: pointer;
        .media__contenido__text{
            opacity: 1;
            transform: rotateX(0deg);
        }
        .media__contenido__img{
            opacity: 0;
            transform: rotateX(-90deg);
        }
        .nos__contenido__text{
            opacity: 1;
            transform: rotateY(0deg);
        }
        .nos__contenido__img{
            opacity: 0;
            transform: rotateY(-90deg);
        }
    } 


